---
import Layout from "./Layout.astro";
import Prose from "./Prose.astro";
const { frontmatter } = Astro.props;
---

<Layout
  title={frontmatter.title}
  desc={frontmatter.desc}
  image_path={frontmatter.image_path}
>
  <header class="space-y-6">
    <div class="space-y-2">
      <h1 class="text-2xl font-bold">{frontmatter.title}</h1>
      <p class="text-lg text-neutral-600">{frontmatter.desc}</p>
    </div>
    <section class="flex w-full items-center gap-4">
      <img
        class="aspect-square w-12 rounded-full object-cover object-center"
        src="/profile.webp"
        alt="Profile Image Luis Eduardo Ocegueda Cortés"
      />
      <div class="space-y-.5">
        <a href="/" class="text-md font-semibold underline underline-offset-1">
          Luis Eduardo Ocegueda Cortés
        </a>
        <h3 class="text-sm text-neutral-600">Programador autodidacta.</h3>
        <h4 class="text-xs text-neutral-600">{frontmatter.date}</h4>
      </div>
    </section>
  </header>
  <main class="pb-16">
    <Prose frontmatter={frontmatter}>
      <slot />
    </Prose>
  </main>
</Layout>
